@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.rectangle-selection {
  position: absolute;
  border: 1px dashed black;
}

.card {
  position: absolute;
  height: 200px;
  width: 100px;
  border: 1px solid black;
  background-color: aquamarine;
}

.right-card {
  left: 500px;
  top: 275px;
}
